h1 {
  color: rgb(80, 5, 138);
}
.craft-header{
  width: 100vw;
  z-index: 1;
  position:fixed;
  top: 0;
  left:0;
  background-color: white;
  text-align: center;
  padding-bottom: .5em;
}
.page-content{
  margin-top: 6em;
}
.addButton{
  display: flex;
  justify-content: center;
}

.btn-outline-primary {
  background-color: #e4b7e5;
  color: rgb(31, 2, 43);
  border: none;
}
.btn-outline-primary:hover {
  background-color: #63458a;
  color: white;
  border: none;
}
.btn-outline-primary:focus, .btn-outline-primary.focus {
  background-color: #9A48d0;
  color: white;
  box-shadow: 0 0 0 0.2rem #63458a7e
}

.btn-outline-primary:not(:disabled):not(.disabled).active,.btn-outline-primary:not(:disabled):not(.disabled):active{
background-color: #9A48d0;
color: white;
box-shadow: 0 0 0 0.2rem #63458a7a
}

.btn-outline-warning {
  background-color: #b288c0;
  color:rgb(31, 2, 43);
  border: none;
}

.btn-outline-warning:hover {
  background-color: #9A48d0;
  color: white;
  border: none;
}

.btn-outline-warning:focus, .btn-outline-warning.focus {
    background-color: #9A48d0;
    color: white;
    box-shadow: 0 0 0 0.2rem rgb(99, 69, 138,.5)
}

.btn-outline-warning:not(:disabled):not(.disabled).active,.btn-outline-warning:not(:disabled):not(.disabled):active{
  background-color: #9A48d0;
  color: white;
  box-shadow: 0 0 0 0.2rem rgb(99, 69, 138,.5)
}

.yarn-form {
  /* width: 50vw; */
  margin: 2em;
  padding: 2em;
  border-radius: 1em;
  background-color: rgb(242, 232, 248);
}

.img-div {
  background-image: url(https://shop1024.hstatic.dk/upload_dir/shop/chiaogoo-lace-twist-red.w610.h610.backdrop.jpg);
  height: 320px;
  width: 400px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.yarn-img-div {
  height: 400px;
  width:400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.card {
  display: flex;
  flex-direction: row;
  width: 80vh;
  margin: 5px;
  padding: 7px;
  justify-content: space-between;
}

.content, .yarn-content {
  width: 25%;
  padding: 5px;
}

.hook-cards, .yarn-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}