h1 {
  font-family: 'Rampart One', cursive;
  color: rgb(255, 255, 255);
  font-size: 3em;
  padding: 2px;
}
body{
  background-image: url(https://d2q9kw5vp0we94.cloudfront.net/i/q=85/LandingPages/VirtualMeetingBackgrounds/KP-Zoom_2.jpg);
  background-color: rgb(128, 128, 128);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.body-background{
  height: 100vh;
  overflow: auto;
}

.craft-header{
  width: 100vw;
  z-index: 1;
  position:fixed;
  top: 0;
  left:0;
  background-color: white;
  text-align: center;
  padding-bottom: .5em;
  border-width: 1em;
  box-shadow: 0 0 1em rgb(218, 215, 215);
}
.page-content{
  margin-top: 7em;
}
.addButton{
  display: flex;
  justify-content: center;
}

.btn-outline-primary {
  background-color: #48A9A6;
  color: white;
  border-color: white;
}
.btn-outline-primary:hover {
  background-color: white;
  color: #48A9A6;
  border-color: #48A9A6;
}
.btn-outline-primary:focus, .btn-outline-primary.focus {
  background-color: #9A48d0;
  color: white;
  box-shadow: 0 0 0 0.2rem #63458a7e
}

.btn-outline-primary:not(:disabled):not(.disabled).active,.btn-outline-primary:not(:disabled):not(.disabled):active{
background-color: #9A48d0;
color: white;
box-shadow: 0 0 0 0.2rem #63458a7a
}

.btn-outline-warning {
  background-color: #f96e46;
  color:white;
  border-color: white;
}

.btn-outline-warning:hover {
  background-color: white;
  color: #f96e46;
  border-color: #f96e46;
}

.btn-outline-info {
  background-color: #fac748 ;
  color: white;
  border-color: white;
}

.btn-outline-info:hover {
  background-color: white;
  color: #fac748;
  border-color:#fac748;
}

.btn-outline-success {
  background-color: #f88dad;
  color: white;
  border-color: white;
}


.btn-outline-success:hover {
  background-color: white;
  color:#f88dad;
  border-color: white;
}

.btn-outline-success:focus {
  background-color: #f88dad;
  color: white;
  border-color: white;
}


.btn-outline-warning:focus, .btn-outline-warning.focus {
    background-color: #9A48d0;
    color: white;
    box-shadow: 0 0 0 0.2rem rgb(99, 69, 138,.5)
}

.btn-outline-warning:not(:disabled):not(.disabled).active,.btn-outline-warning:not(:disabled):not(.disabled):active{
  background-color: #9A48d0;
  color: white;
  box-shadow: 0 0 0 0.2rem rgb(99, 69, 138,.5)
}


.yarn-form {
  /* width: 50vw; */
  margin: 2em;
  padding: 2em;
  border-radius: 1em;
  background-color: rgb(239, 253, 250);
}

.img-div {
  background-image: url(https://shop1024.hstatic.dk/upload_dir/shop/chiaogoo-lace-twist-red.w610.h610.backdrop.jpg);
  height: 320px;
  width: 400px;
  border-radius: 1em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.yarn-img-div {
  height: 400px;
  width:50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1em;
}


.card {
  display: flex;
  flex-direction: row;
  width: 80vh;
  margin: 5px;
  padding: 7px;
  justify-content: space-between;
}

.content, .yarn-content {
  width: 50%;
  padding: 7px;
  border-radius: 1em 0 0 1em;
  background-color: rgba(121, 121, 121, 0.411);
  color: white;
}

.yarn-content-div{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.content1, .yarn-content1 {
  width: 50%;
  padding: 7px;
  border-radius: 0 1em 1em 0;
  background-color: rgba(121, 121, 121, 0.411);
  color: white;
}

.hook-cards, .yarn-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}